/* Header */

header{
  height: 80px;
  line-height: 80px;
}

.logo img{
  margin: 26px 20px 0 20px;
}

nav ul li{
  display: inline-block;
  margin: 0 20px;
}

nav ul li > a{
  color: #323232;
}

nav ul li > a:hover{
  text-decoration: underline;
}


/* Jumbotron */

.jumbotron{
  padding-top: 80px;
}

.jumbotron .content{
  width: 70%;
  max-width: 1440px;
  margin: 0 auto;
  text-align: left;
}

.jumbotron .content h1{
  font-size: 4.82rem;
  margin-bottom: 42px;
}

.jumbotron .content p{
  width: 30%;
  margin: 0 4.5% 20px 0;
}

.jumbo-img{
  width: 64%;
}

.jumbo-img img{
  width: 100%;
}

/* Main */

main{
  padding-top: 215px;
}

/* Plans */

.plans{
  width: 100%;
  margin-bottom: 150px;
}

.plan.third{
  margin-bottom: 55px;
}

.plan.large{
  width: 100%;
}

/* Partners */

.partners{
  width: 100%;
  margin-bottom: 120px;
}

/* Operations */

.operations img{
  width: 100%;
}

.operation{
  margin-bottom: 125px;
}

/* Sponsors */

.sponsors aside{
  width: 30%;
}

.sponsors aside .sponsor{
  width: 50%;
}

.sponsors .text{
  width: 40%;
}

/* Company */

.company{
  padding: 140px 0;
}

/* FAQs */

.faqs{
  padding: 140px 0;
}

/* Footer */

footer{
  background-color: black;
  padding: 120px 10% 0 10%;
}