/* Header */

header{
  height: 80px;
  line-height: 80px;
}

header .logo img{
  margin: 26px 20px 0 20px;
}

nav ul li{
  position: relative;
  display: inline-block;
  margin: 0 20px;
}

nav ul li a{
  color: #323232;
  line-height: 76px;
  display: inline-block;
}

nav ul li a:hover{
  border-bottom: 2px solid #323232;
}

.dropdown-menu{
  display: none;
  position: absolute;
  left: -30px;
  font-size: 14px;
  line-height: 40px;
  background-color: #fafbfb;
  padding: 20px 0;
  min-width: 230px;
}

nav ul li:hover .dropdown-menu{
  display: block;
}

.dropdown-menu .menu-option{
  padding-left: 35px;
}

.dropdown-menu .menu-option:hover{
  background-color: #ebebeb;
}

.start-btn{
  margin: 0 20px;
  padding: 5px 19px;
}

/* Jumbotron */

.jumbotron{
  padding-top: 80px;
  height: 743px;
}

.jumbotron .content{
  width: 70%;
  max-width: 1440px;
  margin: 0 auto;
  text-align: left;
}

.jumbotron .content aside{
  width: 30%;
  margin-right: 4.5%;
}

.jumbotron .content aside p{
  margin-bottom: 29.5px;
}

.jumbotron .content .underbutton{
  font-size: 14px;
  margin-bottom: 40px;
}

.jumbotron .content aside i{
  font-size: 2.5rem;
}

.jumbo-img{
  width: 64%;
}

.jumbo-img img{
  width: 100%;
}

.jumbo-btn{
  font-size: 16px;
  padding: 8.5px 19px;
  margin-bottom: 10px;
}

/* Main */

main{
  padding-top: 198px;
}

/* Plans Container */

.plans{
  margin-bottom: 150px;
}

.plans .top-text{
  margin-bottom: 40px;
}

.plans .top-text span{
  margin-right: 15px;
}

.plans .top-text span .circle{
  vertical-align: middle;
}

/* Plan card */

.plan{
  border: 1px solid lightgray;
  font-size: 14px;
}

/* Plan card stretta (colonna) */

.plan.third-column{
  margin-bottom: 50px;
  min-height: 1060px;
}

.plan.large{
  width: 100%;
}

.plan .plan-header{
  border-bottom: 1px solid lightgray;
  font-size: 17px;
  line-height: 42px;
  margin-bottom: 30px;
}

.plan .plan-body{
  padding: 0 30px;
}

.plan .price{
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.price::after{
  content: ' \20AC';
}

.plan .under-price{
  color: slategray;
  margin-bottom: 50px;
}

.plan ul{
  margin-bottom: 50px;
}

.plan ul li i{
  margin-left: -18px;
}

.plan ul li{
  margin-left: 18px;
  margin-bottom: 25px;
}

.plan.third-column .plan-btn, .plan .buy{
  margin-bottom: 30px;
}

.plan .buy a{
  color: #1a71ff;
  text-decoration: underline;
}

.plan .mid-title{
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 20px;
}

/* Plan card grande */

.plan.large .plan-btn{
  width: 300px;
}

.plan.large h3{
  display: inline-block;
}

.plan.large .mid-title, .plan.large p{
  margin-bottom: 30px;
}

/* Partners */

.partners{
  width: 100%;
  margin-bottom: 100px;
}

.partners .image-box{
  width: 55%;
}

.partners .text-box{
  width: 45%;
  padding: 40px 0 0 44px;
}

.partners .text-box h3{
  margin-bottom: 28px;
}

.partners .text-box p{
  line-height: 28px;
  margin-bottom: 30px;
}

/* features */

.features img{
  width: 100%;
}

.features h2{
  margin-bottom: 50px;
}

.feature{
  margin-bottom: 100px;
}

.feature h3{
  margin-bottom: 25px;
}

/* Sponsors */

.sponsors .top-text{
  width: 53%;
  margin-bottom: 50px;
}

.sponsors .top-text h2{
  margin-bottom: 30px;
}

.sponsors .top-text a{
  display: inline-block;
  color: #1a71ff;
  text-decoration: underline;
}

.sponsors aside{
  width: 28vw;
  height: 28vw;
}

.sponsors aside .sponsor{
  position: relative;
  width: 50%;
  height: 14vw;
}

.sponsors .text{
  width: calc(100% - 56vw);
  height: 28vw;
  overflow-y: scroll;
  background-color: #f5f5f5;
  padding: 80px 130px;
}

.sponsors .text .logo{
  width: calc(15vw / 2);
  margin-bottom: 30px;
}

.sponsors .text hr, .sponsors .text p:first-of-type{
  margin-bottom: 50px;
}

.sponsors aside .sponsor img{
  position: absolute;
  display: block;
  width: 55%;
  filter: invert();
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.white-border{
  border: 10px solid rgba(255, 255, 255, .5)
}

#green-bg{
  background-color: #9ecd97;
}

#bordeaux-bg{
  background-color: #61082c;
}

#dodgerblue-bg{
  background-color: #1c8cc4;
}

#red-bg{
  background-color: #f91c1d;
}

#darkred-bg{
  background-color: #d5021f;
}

#lightblue-bg{
  background-color: #b4d0e7;
}

#blue-bg{
  background-color: #0d2481;
}

#yellow-bg{
  background-color: #fed830;
}

/* Company */

.cta{
  padding: 124px 0 64px 0;
}

.cta .title{
  width: 50%;
  display: inline-block;
}

.cta .title h2{
  color: #60062a;
}

.cta .cta-btn{
  padding: 9px 62px;
  font-size: 16px;
}

/* FAQs */

.faqs{
  padding: 140px 0;
}

/* Footer */

footer{
  background-color: black;
  padding: 120px 10% 0 10%;
}