.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

.third-column{
  width: calc((100% / 3) - 40px);
}

.third-column.margin{
  margin-right: 60px;
}

.text-center{
  text-align: center;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.light-blue{
  background-color: #b4d0e7;
}

/* Buttons */

.btn{
  display: inline-block;
  background-color: #005ffa;
  padding: 7px 19px;
  line-height: 21px;
  font-size: 14px;
  color: white;
  vertical-align: middle;
}

.btn:hover{
  background-color: #3b85fe;
}

.btn.big{
  font-size: 16px;
  padding: 8px 19px;
  line-height: 22px;
}

.btn.white{
  color: #323232;
  background-color: white;
}

.btn.white:hover{
  background-color: #f6f6f5;
}

.btn.border{
  border: 1px solid black;
}

/* Circle */

.circle{
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #d8d8d9;
  border-radius: 50%;
  cursor: pointer;
}

.circle.active{
  border: 5px solid #005ef6;
}

/* DEBUG */

.debug{
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
}

.w40{
  width: 40%;
}

.w50{
  width: 50%;
}

.w60{
  width: 60%;
}

.w100{
  width: 100%;
}

.h100{
  min-height: 100px;
}

.h300{
  min-height: 300px;
}

.h500{
  min-height: 500px;
}